<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li class="tocheader"><span>ドキュメント</span>
        <ul>
            <li {% if page.url == "/docs/" %}class="active"{% endif %}><a href="/docs/">概要</a>
        </ul>
    </li>
    <li class="tocheader"><span>Getting Started</span>
        <ul>
            <li {% if page.url == "/docs/getting-started/installation" %}class="active"{% endif %}><a href="/docs/getting-started/installation">インストール</a>
            <li {% if page.url == "/docs/getting-started/running" %}class="active"{% endif %}><a href="/docs/getting-started/running">実行  </a>
            <li {% if page.url == "/docs/getting-started/adding-nodes" %}class="active"{% endif %}><a href="/docs/getting-started/adding-nodes">ノードの追加</a>
            <li {% if page.url == "/docs/getting-started/upgrading" %}class="active"{% endif %}><a href="/docs/getting-started/upgrading">アップグレード</a>
            <li {% if page.url == "/docs/getting-started/first-flow" %}class="active"{% endif %}><a href="/docs/getting-started/first-flow">はじめてのFlow</a>
            <li {% if page.url == "/docs/getting-started/second-flow" %}class="active"{% endif %}><a href="/docs/getting-started/second-flow">Flow作成</a>
        </ul>
    </li>
    <li class="tocheader"><span>Node-REDの利用</span>
        <ul>
            <li {% if page.url == "/docs/configuration" %}class="active"{% endif %}><a href="/docs/configuration">設定</a></li>
            <li {% if page.url == "/docs/security" %}class="active"{% endif %}><a href="/docs/security">セキュリティ</a></li>
            <li {% if page.url == "/docs/node-red-admin" %}class="active"{% endif %}><a href="/docs/node-red-admin">Adminツール</a></li>
            <li {% if page.url == "/docs/writing-functions" %}class="active"{% endif %}><a href="/docs/writing-functions">Function Nodeの書き方</a></li>
            <li {% if page.url == "/docs/embedding" %}class="active"{% endif %}><a href="/docs/embedding">既存アプリケーションへの組込み</a></li>
        </ul>
    </li>
    <li class="tocheader"><span>プラットフォーム</span>
        <ul>
        <li class="tocsubheader"><span>デバイス</span></li>
            <li {% if page.url == "/docs/hardware/raspberrypi" %}class="active"{% endif %}><a href="/docs/hardware/raspberrypi">Raspberry Pi</a>
            <li {% if page.url == "/docs/hardware/beagleboneblack" %}class="active"{% endif %}><a href="/docs/hardware/beagleboneblack">BeagleBone Black</a>
        <li class="tocsubheader"><span>クラウド</span></li>
            <li {% if page.url == "/docs/platforms/bluemix" %}class="active"{% endif %}><a href="/docs/platforms/bluemix">IBM Bluemix</a>
            <li {% if page.url == "/docs/platforms/aws" %}class="active"{% endif %}><a href="/docs/platforms/aws">Amazon Web Services</a>
            <li {% if page.url == "/docs/platforms/azure" %}class="active"{% endif %}><a href="/docs/platforms/azure">Microsoft Azure</a>
        <li class="tocsubheader"><span>その他</span></li>
            <li {% if page.url == "/docs/hardware/arduino" %}class="active"{% endif %}><a href="/docs/hardware/arduino">Arduino</a>
            <li {% if page.url == "/docs/platforms/docker" %}class="active"{% endif %}><a href="/docs/platforms/docker">Docker</a>
        </ul>
    </li>
    <li class="tocheader"><span>API</span>
        <ul>
            <li><a href="/docs/api/">概要</a>
        </ul>
    </li>
    <li class="tocheader"><span>Nodeの作成</span>
        <ul>
            <li {% if page.url == "/docs/creating-nodes/index" %}class="active"{% endif %}><a href="/docs/creating-nodes/">概要</a></li>
            <li {% if page.url == "/docs/creating-nodes/first-node" %}class="active"{% endif %}><a href="/docs/creating-nodes/first-node">Node作成</a></li>
            <li {% if page.url == "/docs/creating-nodes/node-js" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-js">JavaScriptファイル</a>
            <li {% if page.url == "/docs/creating-nodes/node-html" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-html">HTMLファイル</a>
            <li {% if page.url == "/docs/creating-nodes/context" %}class="active"{% endif %}><a href="/docs/creating-nodes/context">コンテキスト</a></li>
            <li {% if page.url == "/docs/creating-nodes/properties" %}class="active"{% endif %}><a href="/docs/creating-nodes/properties">プロパティ</a></li>
            <li {% if page.url == "/docs/creating-nodes/credentials" %}class="active"{% endif %}><a href="/docs/creating-nodes/credentials">クレデンシャル</a></li>
            <li {% if page.url == "/docs/creating-nodes/appearance" %}class="active"{% endif %}><a href="/docs/creating-nodes/appearance">UI</a></li>
            <li {% if page.url == "/docs/creating-nodes/status" %}class="active"{% endif %}><a href="/docs/creating-nodes/status">ステータス</a></li>
            <li {% if page.url == "/docs/creating-nodes/config-nodes" %}class="active"{% endif %}><a href="/docs/creating-nodes/config-nodes">設定</a></li>
            <li {% if page.url == "/docs/creating-nodes/packaging" %}class="active"{% endif %}><a href="/docs/creating-nodes/packaging">パッケージング</a></li>
            <li {% if page.url == "/docs/creating-nodes/i18n" %}class="active"{% endif %}><a href="/docs/creating-nodes/i18n">国際化</a></li>
        </ul>
    </li>
</ul>

<script>
$(function() {
    $(".toc-expander").click(function() {
        if ($("ul.toc").hasClass('open')) {
            $("ul.toc").removeClass('open');
        } else {
            $("ul.toc").addClass('open');
        }
    })
});
//$(function() {
//    $("li.tocheader ul").hide();
//    $("li.tocheader a.active").parent().parent().show();
//    $("li.tocheader>span").click(function(e) {
//        $(this).next().toggle("fast");
//    });
//});
</script>
